@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    background-color: #c8eafc;
}

.main {
    display: block;
    margin: 0 auto; 
    width: 70%;
}

.name h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    color: white;
}

.social-icons {
    display: flex;
    flex-direction: row;
    font-size: 1em;
}

.social-icons .icon {
    padding-right: 20px;
}

.social-icons a {
    color: white;
    text-decoration: none;
}